header {
	
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	font-size:30px;

	

}
footer{
	background-color:#2874a6;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	font-size:14px;
	color:#ffffff
}
aside{
	width:20%;
	background-color:#ebf5fb;
	padding-top:20px;
    padding-bottom:20px;	
	float:right;
}
nav{
	
	padding-top:10px;
	padding-bottom:10px;
	font-size:14px;
;
}
section{
	padding-bottom:30px;
	padding-top:30px;
	padding-left:20px;
	padding-right:20px;
	
}
.fondbleu{
	background-color:#2874a6;
color:#ffffff}
	
	table,
td {
    border: 1px solid #000000;
}

thead,
tfoot {
    background-color: #ffffff;
    color: #000000;
}
